<!DOCTYPE html>
<html>
<head>
	<title>Express Chat | Entrar</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

	<div id="container">
	
		<div id="warning-box">
			<section class="name">
				<h3>Escolha o nome pelo qual deseja ser chamado</h3>
				<input type="text" name="name" id="name">
			</section>
				
			<button onclick="login()">Ir para batepapo</button>
		</div>

	</div>

</div>


<script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="/javascript/index.js"></script>

</body>
</html>